.mission-statement-wrapper {
    margin-top: 25px;
    height:300px;
    border-radius: 25px;
    overflow: hidden;
    background-color: lightblue;
    padding: 20px;
}

.subhead-wrapper {
    display: flex;
    height:300px;
    justify-content: space-between;
}

.subtitle-wrapper {
    display: flex;
    height: 300px;
    text-align: center;
    width: 35%;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    border-radius: 25px;
    overflow: hidden;
}

.subheading {
    float: left;
    text-align: center;
    margin: 0;
    font-size: 70px;
}

.info-wrapper {
    display: flex;
    width: 60%;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: darkslategrey;
    border-radius: 25px;
    overflow: hidden;
}

.mission-statement-info {
    margin:0;
    font-style: italic;
    font-size: 30px;
}